<div id="place-holder-nav" style="display: none;">
</div>
<nav>
    <div id="nav-links">
        <a href="#" id="logo"><img src="{{ asset('assets/img/logo.png') }}" alt="" width="50"></a>
        <div id="container-burger">
            <img src="{{ asset('assets/img/nav-img/chocolat.png') }}" alt="">
        </div>
        <div id="links">
            <a href="{{ path('app_homepage') }}">Accueil</a>
            <a href="javascript:void(0)" id="nav-recipes-link">Recettes<i class="fa-solid fa-arrow-down" style="margin-left: 10px;"></i></a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div id="nav-recipes-container">
        <ul id="nav-recipes" style="display: none;">
            <a href="#"><li>Mousse au chocolat</li></a>
            <a href="#"><li>Polish cake</li></a>
            <a href="{{ path('app_max') }}"><li>Fondant au Chocolat</li></a>
            <a href="#"><li>Éclat Choco Amande</li></a>
            <a href="#"><li>Cookies au chocolat</li></a>
            <a href="#"><li>Glace au chocolat</li></a>
            <a href="{{ path('app_choco_pomme') }}"><li>Choco Pomme</li></a>
            <a href="{{ path('app_simona') }}"><li>Brownie framboise</li></a>
            <a href="#"><li>Amandina Cake</li></a>
            <a href="#"><li>Cupavci Cake</li></a>
        </ul>
        <div id="previews"></div>
    </div>
    <div id="nav-choco-open-menu" style="display: none;">
        <img src="{{ asset('assets/img/nav-img/openmenu.png') }}" alt="">
    </div>
</nav>
<div id="nav-choco">
    <img src="{{ asset('assets/img/nav-img/banner_top.png') }}" alt="">
</div>
<!-- ===============================================-->